.featureContainer {
    width: 100%;
    padding:10px;
    min-height: 500px;
    background-image: url('../public/home-banner.webp');
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;

}


.profilePic {
    border-radius: 100%;
}