.featureContainer {
    padding:10px;
    height:92vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../public/skyline-kiel.png'); 
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-top: 70px;
    padding-top: 20px;
}

.bgImage {
    height:100px;
    width: 4px;
}


.profilePic {
    width:'100%';
    height:auto;
    border-radius: 100%;
    filter: grayscale(100%);
}

@media only screen and (max-width: 1000px) {
    .featureContainer {
        padding:10px;
        height:100%;
        background-color:'white';
        display:flex;
        flex-direction: column;
        align-items: center;
        background-image:unset;
        margin-bottom:50px;
    }
  
  } 

  @media only screen and (max-width: 600px) {
    .profileImageContainer {
        /*display:none;*/

    }
    .profilePic {
        /*display:none;*/
    }
  } 