.content-container {
  padding-left:40px;
  padding-right:40px;
  margin-top: 65px;
}

@media only screen and (max-width: 1000px) {
  .content-container {
    padding-left:2px;
    padding-right:2px;
  }

  .about-headline {
    text-align: center;
  }
} 